.button, .button--border {
    border-radius: 22px ;
    border: 0px;
   
    font-size: 12px;    
    font-weight: 600;
    margin-top: 0;
}

.button--pink {
    background: var(--first-color);
    color: var(--white-color);
    width: 165px;
    height: 45px;
}

.button--border {
    border: 1px solid var(--black-color);
}

